@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** general ***/
body {
  line-height: 1;
  background: white;
  color: #555555;
  font-family: 'Open sans', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

/*** start of nav bar ***/
#navbar {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #232323;
}

#navbar .logo-box {
  display: inline-block;
  position: absolute;
  left: 5%;
}

#navbar .logo2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 700;
  color: #D18A37;
}

#navbar #nav-list {
  list-style: none;
  float: right;
}

#navbar #nav-list .nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 0 0 0 25px;
}

#navbar #nav-list .nav-item a {
  color: white;
}

#navbar #nav-list .nav-item a:hover {
  color: #D18A37;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*** end of nav bar ***/
/*** start of hero section ***/
main {
  width: 100%;
}

main #primary-header {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
  color: #D18A37;
  text-align: center;
  margin: 150px 0 20px 0;
}

main #sub-header {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  width: 35%;
  margin-bottom: 50px;
  text-align: center;
  margin: auto;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

main .container img {
  width: 350px;
  max-width: 100%;
}

main .container .contact-section form .firstName, main .container .contact-section form .lastName, main .container .contact-section form .email {
  padding-right: 0;
}

main .container .contact-section form ::-webkit-input-placeholder {
  color: #c3c3c3;
}

main .container .contact-section form :-ms-input-placeholder {
  color: #c3c3c3;
}

main .container .contact-section form ::-ms-input-placeholder {
  color: #c3c3c3;
}

main .container .contact-section form ::placeholder {
  color: #c3c3c3;
}

main .container .contact-section form .btn {
  color: #fff;
  background-color: #232323;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  height: 50px;
}

main .container .contact-section form .btn:hover {
  color: #D18A37;
}

main .map iframe {
  width: 100%;
  height: 250px;
}

/*** end of hero section ***/
/*** start of footer section ***/
footer {
  padding: 70px 5% 20px;
  background-color: #232323;
  color: #fff;
  height: 175px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer p {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
}

footer .icon-container {
  float: right;
}

footer .icon-container .icon {
  display: inline-block;
  padding: 0 10px;
}

footer .icon-container .fab {
  color: #D18A37;
  font-size: 25px;
}

/*** end of footer section ***/
/*** media queries ***/
@media (max-width: 1200px) {
  main #sub-header {
    width: 60%;
  }
  .contact-logo-box {
    margin-right: 50px;
  }
}

@media (max-width: 990px) {
  #navbar #nav-list {
    padding-top: 30px;
  }
  .contact-logo-box {
    margin-right: 0;
  }
  main .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-logo-box {
    margin-bottom: 35px;
  }
}

@media (max-width: 770px) {
  #navbar .container {
    padding: 0 5%;
  }
  main #sub-header {
    width: 75%;
  }
  main .container img {
    width: 300px;
  }
  form .lastName {
    margin-top: 16px;
  }
}

@media (max-width: 590px) {
  footer {
    text-align: center;
  }
  footer p {
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */