@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "reset";

/*** general ***/

body {
    line-height: 1;
    background: white;
    color: #555555;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:after,
  blockquote:before,
  q:after,
  q:before {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  body {
    font-family: 'Open sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .row {
    padding-right: 0px;
    margin-right: 0px;
  }
  
  $color-primary: #D18A37; // orange
  
  /*** start of nav bar ***/
  #navbar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #232323;
    .logo-box {
      display: inline-block;
      position: absolute; 
      left: 5%;
    }
  
    .logo2 {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 18px;
      font-weight: 700;
      color: $color-primary;
    }
    
    #nav-list{
      list-style: none;
      float: right;
  
      .nav-item {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 2px;
        padding: 0 0 0 25px;
  
        a {
          color: white;
        }
  
        a:hover {
          color: $color-primary;
        }
      }
    }
  }
  /*** end of nav bar ***/

  /*** start of hero section ***/

main {
    width: 100%;

    #primary-header{
        font-weight: 700;
        font-size: 60px;
        text-transform: capitalize;
        color: $color-primary;
        text-align: center;
        margin: 150px 0 20px 0;
      }

      #sub-header {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;
        width: 35%;
        margin-bottom: 50px;
        text-align: center;
        margin: auto;
      }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 50px;

        img {
            width: 350px;
            max-width: 100%;
        }
        .contact-section {
            form {

              .firstName, .lastName, .email {
                padding-right: 0;

              }

              ::placeholder {
                color: #c3c3c3;
              }

                .btn {
                  color: $color-primary;
                  background-color: #232323;
                  width: 100%;
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 18px;
                  height: 50px;
                } 
            }
        }
    }
    .map iframe {
        width: 100%;
        height: 250px;
    }
  }
  /*** end of hero section ***/

  /*** start of footer section ***/
footer {
    padding: 70px 5% 20px;
    background-color: #232323;
    color: #fff;
    height: 175px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
    p {
      display: inline-block;
      width: 50%;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
  
    .icon-container {
      float: right;
  
      .icon {
        display: inline-block;
        padding: 0 10px;
      }
  
      .fab {
        color: $color-primary;
        font-size: 25px;
      }
    }
  }
  /*** end of footer section ***/

  /*** media queries ***/
  @media (max-width: 1200px) {
    main #sub-header {
      width: 60%;
    }

    .contact-logo-box {
      margin-right: 50px;
    }
  }
  @media (max-width: 990px) {
    .contact-logo-box {
      margin-right: 0;
    }

    main .container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .contact-logo-box {
      margin-bottom: 35px;
    }
  }

  @media (max-width: 770px) {
    #navbar .container {
      padding: 0 5%;
    }

    main #sub-header {
      width: 75%;
    }

    main .container img {
      width: 300px;
    }

    form .lastName {
      margin-top: 16px;
    }
  }

  @media (max-width: 590px) {
    footer {
      text-align: center;
    }
    footer p {
      width: 100%;
    }
  }