@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "reset";


/*** general ***/
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  background: #fff;
  color: #555555;
  font-family: 'Open sans', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

$color-primary: #D18A37; // orange

/*** start of nav bar ***/
#navbar {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
  .logo-box {
    display: inline-block;
    position: absolute; 
    left: 5%;
  }

  .logo2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 700;
    color: $color-primary;
  }
  
  #nav-list{
    list-style: none;
    float: right;

    .nav-item {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      text-transform: capitalize;
      letter-spacing: 2px;
      padding: 0 0 0 25px;

      a {
        color: white;
      }

      a:hover {
        color: $color-primary;
        transition: all 0.3s ease;
      }
    }
  }
}
/*** end of nav bar ***/

/*** start of hero section ***/

#header {
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.801), 
      rgba(0, 0, 0, 0.336)), 
  url(/img/Chips.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;

  .header-text-box {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(10%, -50%);
  
    #primary-header{
      font-weight: 700;
      font-size: 50px;
      text-transform: capitalize;
      color: white;
      line-height: 70px;
    }

    #sub-header {
      font-size: 18px;
      color: white;
      font-weight: 300;
      line-height: 1.4;
      width: 67%;
    }
  }
}
/*** end of hero section ***/

/*** start of contact box ***/
#contact-box {
  position: absolute;
  top: 45%;
  left: 55%;
  background-color: #fff;
  text-align: center;
  border-radius: 7px;
  height: 425px;
  width: 325px;
  padding: 30px 35px;

  //box shadow
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  .logo1 {
    height: 200px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #232323;
    padding: 15px 0 10px 0;
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #232323;
  }

  //Call to action
  .btn-main {
    background-color: $color-primary;
    padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    
    .fa-envelope {
      padding-right: 5px;
      font-weight: 700;
    }
  }
}
/*** end of contact box ***/

/*** start of about us section ***/

.about-us {
  margin-top: 15%;
  padding: 8% 5%;

  h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 2px;
  }

  .container {

    .row {

      .aboutUs-img {
    
        img { 
          height: 500px;
          width: 400px;
          border-radius: 7px;
          object-fit: cover;
          max-width: 100%;
        }
      } 

      .aboutUs-textBox {
    
        p {
          line-height: 1.7;
        }
      }
    }
  }
}
/*** end of about us section ***/

/*** start of contact us section ***/

.contact-us {
  margin-top: 100px;
  padding: 40px 5%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.801), 
      rgba(0, 0, 0, 0.336)), 
  url(/img/Sodas.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: #fff;
  .contact-textBox {
    display: inline-block;
    h1 {
      font-size: 45px;
    }

    p {
      padding: 20px 0 15px 0;
      font-size: 20px;
      text-transform: capitalize;
    }
    .check-mark {
      padding-bottom: 15px;

      .fa-check-circle {
        padding-right: 10px;
        color: $color-primary;
      }
    }
    .check-mark:hover {
      font-size: large;
      transition: all 0.1s ease;
    }
    .and-more {
      padding-left: 25px;
    }
  }

  .contact-form {
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: 700;
    ::placeholder {
      color: #c3c3c3;
      text-transform: capitalize;
      font-size: 14px;
    }

    p {
      padding-bottom: 15px;
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }

    br {
      display: none;
    }

    //Call to action
    .btn-main {
      background-color: $color-primary;
      padding: 7px 20px;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      
      .fa-envelope {
        padding-right: 5px;
        font-weight: 700;
      }
    } 
    
    #email {
      padding: 5px 0 5px 30px;
      height: 40px;
      width: 250px;
      margin-right: 20px;
      border-radius: 7px;
      border: none;
    }
  }
}
/*** end of contact us section ***/

/*** start of our product section ***/
.our-products {
  margin-top: 12%;
  padding: 8% 5%;

  .container {

    h2 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-primary;
      text-align: center;
      padding-bottom: 30px;
      letter-spacing: 2px;
    }

    .our-products-textBox {

      display: flex;
      justify-content: space-evenly;
      padding: 25px 0 30px 0;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 700;
      color: #555;
    }
    
    .row {

      p {
        line-height: 1.7;
        padding-bottom: 15px;
      }
    
      .our-products-img {
        display: inline-block;
        float: right;
    
        img {
          height: 500px;
          width: 350px;
          object-fit: cover;
          max-width: 100%;
        }
      }
    }

  }

  
}
/*** end of our product section ***/

/*** start of footer section ***/
footer {
  margin-top: 8%;
  padding: 70px 5% 20px;
  background-color: #232323;
  color: #fff;
  height: 175px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  p {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .icon-container {
    float: right;

    .icon {
      display: inline-block;
      padding: 0 10px;
    }

    .fab {
      color: $color-primary;
      font-size: 25px;
    }
  }
}
/*** end of footer section ***/

/*** media queries ***/

@media only screen and (max-width: 1260px)  {
  #contact-box {
    top: 55%;
  }
}

@media (max-width: 990px) {
  #navbar #nav-list{
    padding-top: 30px;
  }

  .header-text-box {
    text-align: center;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 60%;

    #sub-header {
      width: 100% !important;
    }
  }

  #contact-box {
    position: relative;
    top: 0;
    left: 0;
    margin: 5% auto;
  }

}

@media (max-width: 770px) {
  #header {
    #navbar .container {
      padding: 0 5%;
    }
  }
  .header-text-box {
    width: 80%;

    #primary-header {
      br {
        display: none;
      }
    }
    
  }
  .contact-us {
    .contact-textBox {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 580px) {
  .header-text-box {
    #primary-header {
      font-size: 40px !important;
      line-height: 55px !important;
    }
  }
  .contact-us {
    .contact-textBox {
      h1 {
        font-size: 30px;
      }
    }
    .contact-form {
      br {
        display: block;
      }
    }
  }
  footer {
    text-align: center;
    P {
      width: 100%;
    }
    .icon-container {
      float: none;
      padding-top: 20px;
    }
  }
}

@media (max-width: 375px) {
  .our-products {
    .our-products-textBox {
      .description {
        font-size: 16px;
        padding: 0 10px;
      }
    }
  }
  .contact-us {
    .contact-textBox {
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 18px;
      }
    }
    .contact-form {
      text-align: center;
    }
  }
}